<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6EHYgTnef9o0Gashdk2hK0AWyb3mhY-o</string>
	<key>GCM_SENDER_ID</key>
	<string>574082685128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.humChale</string>
	<key>PROJECT_ID</key>
	<string>humchalena-84f19</string>
	<key>STORAGE_BUCKET</key>
	<string>humchalena-84f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574082685128:ios:32a989cdc76feb8b87edfd</string>
</dict>
</plist>